<div>
  <div class = formula>
    <h4 class="h4-formula">
      Formula
    </h4>
    <textarea></textarea>
  </div>
  <div class="container-buttons">
    <label>
      <p>
        <input class="checkbox" type="checkbox" name="a" value="">Auto line-breaks
      </p>
    </label>
    <label id="1">
      <p>
        <button class="button_save">
          Save As Custom Expression ...
        </button>
      </p>
    </label>
    <label id="2">
      <p>
        <button class="button_clear">
          Clear
        </button>
      </p>
    </label>
    <label id="3">
      <p>
        <button class="button_validate">
          Validate
        </button>
      </p>
    </label>
  </div>
  <div class="div-function">
    <h4 class="h4-function">
      <span>
        Functions and fields
      </span>
    </h4>
  </div>
  <div class="function">
    <div class="block">
      <nav class="navigation">
        <ul>
          <li><a href="#">Stock</a></li>
          <li><a href="#">Indices</a></li>
          <li><a href="#">Execution</a></li>
          <li><a href="#">Studies</a></li>
          <li><a href="#">Filter</a></li>
          <li><a href="#">Math</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Blackbox</a></li>
          <li><a href="#">Datetime</a></li>
          <li><a href="#">Launch</a></li>
          <li><a href="#">Custom</a></li>
        </ul>
      </nav>
    </div>
    <div class="block1">
      <nav class="navigation2">
        <ul>
          <li><a href="#">ADX</a></li>
          <li><a href="#">ATRStock</a></li>
          <li><a href="#">BolingerBand</a></li>
          <li><a href="#">DonchianChannes</a></li>
          <li><a href="#">EMAIndex</a></li>
          <li><a href="#">EMAStock</a></li>
          <li><a href="#">IslnRanking</a></li>
          <li><a href="#">KeitnerChannel</a></li>
          <li><a href="#">MACD</a></li>
          <li><a href="#">PIVOT_PP</a></li>
          <li><a href="#">PIVOT_R1</a></li>
          <li><a href="#">PIVOT_R2</a></li>
          <li><a href="#">PIVOT_R3</a></li>
          <li><a href="#">PIVOT_S1</a></li>
          <li><a href="#">PIVOT_S2</a></li>
          <li><a href="#">PIVOT_S3</a></li>
          <li><a href="#">PivotDailyHigh</a></li>
        </ul>
      </nav>
      <button class="button_edit">
        Edit Custom Expression
      </button>
    </div>
    <div class="block2">
      <button class="button_az">
        <img src="../assets/img/10.png">
      </button>
      <button class="button_az">
        <img src="../assets/img/11.png">
      </button>
      <button class="button_az">
        <img src="../assets/img/12.png">
      </button>
      <div class="table">
        <div class="border_grey">
          <input type="button" class="button-grey" value="&#709;">
          <p class="p_scroll">
            <strong>EMAStock</strong>
          </p>
          <table>
            <tbody>
            <tr>
              <td>ExtandedHours</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td>MINUTES_5</td>
            </tr>
            <tr>
              <td>MarketCenter</td>
              <td>ALL_VENUES</td>
            </tr>
            <tr>
              <td>Reriod</td>
              <td>RERIOD_50</td>
            </tr>
            <tr>
              <td>Current</td>
              <td>CURRENT</td>
            </tr>
            </tbody>
          </table>
        </div>
        <textarea class="text_area"></textarea>
      </div>
    </div>
    <div class="block-calculator">
      <button class="button_formula">Inject Filed To Formula</button>
      <div class="numeric">
        <p class="p-numeric">
          Numeric Pad
        </p>
        <div class="calculator-position">
          <input type="button" class="button-calculator" value="1">
          <input type="button" class="button-calculator" value="2">
          <input type="button" class="button-calculator" value="3">
          <input type="button" class="button-calculator" value="%">
          <input type="button" class="button-calculator" value="-">
          <input type="button" class="button-calculator" value="+">
        </div>
        <div class="calculator-position">
          <input type="button" class="button-calculator" value="4">
          <input type="button" class="button-calculator" value="5">
          <input type="button" class="button-calculator" value="6">
          <input type="button" class="button-calculator" value="(">
          <input type="button" class="button-calculator-big" value="NOT">
        </div>
        <div class="calculator-position">
          <input type="button" class="button-calculator" value="7">
          <input type="button" class="button-calculator" value="8">
          <input type="button" class="button-calculator" value="9">
          <input type="button" class="button-calculator" value=")">
          <input type="button" class="button-calculator-big" value="AND">
        </div>
        <div class="calculator-position">
          <input type="button" class="button-calculator" value=".">
          <input type="button" class="button-calculator" value="0">
          <input type="button" class="button-calculator" value="*">
          <input type="button" class="button-calculator" value="/">
          <input type="button" class="button-calculator-big" value="OR">
        </div>
        <div class="calculator-position">
          <input type="button" class="button-calculator" value="<">
          <input type="button" class="button-calculator" value="<=">
          <input type="button" class="button-calculator" value=">=">
          <input type="button" class="button-calculator" value=">">
          <input type="button" class="button-calculator" value="<>">
          <input type="button" class="button-calculator" value="=">
        </div>
      </div>
    </div>
  </div>
  <div class="button-ok">
    <input type="button" class="button-cancel" value="Cancel">
    <input type="button" class="button-cancel" value="Ok">
  </div>
</div>
